<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p>Made with <i class="fa fa-heart"></i> using <a href="{% link credits.md %}">open-source</a> work and theme by <a href="{% link credits.md %}">Revolthemes</a></p>
    </div>
    <div class="col-md-3 text-right">
        <a href="https://twitter.com/{{ site.handle }}" class="mr-3" target="_blank"><i class="fa fa-twitter fa-inverse fa-lg" aria-hidden="true"></i></a>
        <a href="https://github.com/{{ site.handle }}" class="mr-3" target="_blank"><i class="fa fa-github fa-inverse fa-lg" aria-hidden="true"></i></a>
        <a href="https://bitbucket.org/{{ site.handle }}" class="mr-3" target="_blank"><i class="fa fa-bitbucket fa-inverse fa-lg" aria-hidden="true"></i></a>
        <a href="https://gitlab.com/{{ site.handle }}" class="mr-3" target="_blank"><i class="fa fa-gitlab fa-inverse fa-lg" aria-hidden="true"></i></a>
        <a href="https://rubygems.org/profiles/{{ site.handle }}" class="mr-5" target="_blank"><i class="fa fa-diamond fa-inverse fa-lg" aria-hidden="true"></i></a>
    </div>
</div>