<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" {% if page.section == "home" %} class="active" {% endif %}>
        <a href="{% link index.md %}" aria-controls="home" role="tab">
          <i class="fa fa-home fa-2"></i>
          <span>Home</span>
        </a>
    </li>
    <li role="presentation" {% if page.section == "about" %} class="active" {% endif %}>
        <a href="{% link about.md %}" aria-controls="about" role="tab">
            <i class="fa fa-info fa-2"></i>
            <span>About</span>
        </a>
    </li>
</ul>
<!-- cache-cache-cache-cache -->