<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- SITE TITLE -->
        <title>{{ site.title }}</title>

        <!-- STYLE -->
        {% stylesheet "font-awesome.min" %}
        {% stylesheet "bootstrap" %}
        {% stylesheet "balloon.min" %}
        {% stylesheet "style" %}

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <canvas id="c" style="width: 100%; height: 100%;"></canvas>

        <div class="wrapper">
            <div class="main-section">
                <div class="menu-area">
                    <div class="container">
                        <div class="row">
                            {% include navbar.html %}
                        </div>
                    </div>
                </div>

                <!-- TAB CONTENT -->
                <div class="tab-content">
                    {{ content }}
                </div>

                <div class="footer-section">
                    {% include footer.html %}
                </div>
            </div><!-- END OF /. MAIN SECTION -->
        </div><!-- END OF /. WRAPPER -->

        <!-- jQuery library -->
        {% javascript "jquery.min" %}
        <!-- jQuery validation plugin -->
        {% javascript "jquery.validate.min" %}
        <!-- jQuery validation plugin (additional methods) -->
        {% javascript "additional-methods.min" %}
        <!-- Bootstrap -->
        {% javascript "bootstrap.min" %}
        <!-- countdown -->

        <!-- typewriter.js -->
        {% javascript "typewriter.min" %}
        <!-- customizations -->
        {% javascript "custom" %}
    </body>
</html>